<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<body>
    <h2>
    Para usar a Calculadora_url é bem simples, basta digitar na url, depois do '/calculadora', 
     o método matemático que deseja, sendo eles: </h2>
     <ul style="list-style: none; font-size: 22px;">
        {
         <li>"/soma": soma,</li>
         <li>"/sub": subtração,</li>
         <li>"/mult": multiplicação,</li>
         <li>"/div": divisão,</li>
        }
     </ul>
     <h2>Após o metódo basta inserir uma '/' e o número que deseja, e então mais uma '/' e o segundo valor. Segue o exemplo:
         <br />
     </h2>
     <code style="font-size: 20px;">http://127.0.0.1:8000/calculadora/soma/90/80/</code>
</body>
</html>